<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-copyright">Lanetcie - Copyright - 2017</div>
        </div>
    </div>
</div>



<script src="{{ asset("bundles/app/js/jquery-1.12.4.min.js") }}"></script>
<script src="{{ asset("bundles/app/js/jquery-ui.min.js") }}"></script>
<script src="{{ asset("bundles/app/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("bundles/app/js/script.js") }}"></script>
